<div class="row" *ngIf="productDetails">
  <div class="col-xs-4 item-photo">
    <img style="max-width:100%;" src="{{productDetails.largeImage}}" />
  </div>
  <div class="col-xs-5" style="border:0px solid gray">
    <h3>{{productDetails.name}}</h3>
    <p class="title-price">PRICE</p>
    <p style="margin-top:0px;">US$ {{productDetails.salePrice}}</p>

    <div class="section" style="padding-bottom:20px;">
      <button class="btn btn-primary"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add To Cart</button>
    </div>
    <p>{{productDetails.longDescription}}</p>
  </div>
</div>
<div class="row">
  <product-recommendation *ngIf="productId" [id]="productId"></product-recommendation>
</div>
