<div class="row">
  <div class="col-md-9"><h3>Product Search Results</h3></div>
  <div class="col-md-3">
    <div class="btn-group float-right switch-layout" role="group" aria-label="Switch Layout">
      <button type="button" (click)="SetViewMode('list')" class="btn btn-light active" [ngClass]="{'active':viewMode=='list'}" id="switch-listview" title="List View">
        <i class="glyphicon glyphicon-th-list"></i>
      </button>
      <button type="button" (click)="SetViewMode('grid')" class="btn btn-light" [ngClass]="{'active':viewMode=='grid'}" id="switch-thumbview" title="Thumb View">
        <i class="glyphicon glyphicon-th"></i>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="center-block" *ngIf="!productList">
      <p>No search results found your search keyword.</p>
    </div>
    <div *ngIf="productList" class="product-tile-container" [ngClass]="{'list-view':viewMode =='list'}">
      <div class="product-tile" *ngFor="let product of productList">
        <div class="product-image">
          <a [routerLink]="['/product', product.itemId]" role="button"><img src="{{product.thumbnailImage}}" class="img-fluid" alt="{{product.name}}"></a>
</div>
        <div class="product-body">
          <h2><a [routerLink]="['/product', product.itemId]" role="button">{{product.name}}</a></h2>
          <p>{{product.shortDescription}}</p>
          <p>Price: US$ {{product.salePrice}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
